.css-gyiown.VerticalAppointment-content {
  color: black !important;
}
.css-vr6fpo.HorizontalAppointment-content {
  color: black !important;
}
.MuiPopover-paper {
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.06) !important;
  background-color: rgb(245, 245, 245) !important;
}
.css-hcbp7j.Content-content {
  background-color: inherit !important;
}
